#ignore images
*.jpg
*.png
*.jpeg

#ignore database
db.sqlite3
core/migrations/*

#ignore pycache
__pycache__
venv/

#ignore jupiter files
.DS_Store
.ipynb_checkpoints/

#ignore frontend files
node_modules

#ignore js files
#*.js

#ignore css files
#*.css

#ignore map files
#*.map

